.banking {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  padding: 15px;
}

.titleSection {
  font-size: 70px;
  margin-bottom: 40px;
}

.banking_wrapper {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-inline: auto;
}

.bankingLoansTitle, .bankingDepositTitle {
  font-size: 30px;
}

.unorderedBankingLoan, .unorderedBankingDeposit {
  padding-left: 30px;
  font-size: 20px;
  font-weight: 500;
  margin: 15px;
}

.bankingDepositDescription, .bankingLoanDescription {
  font-weight: normal;
  text-align: justify;
}

.bankingLoanContact {
  font-weight: normal;
  margin-top: 15px;
}

.link {
  text-decoration: underline;
  color: var(--secondary2-color);
}

@media screen and (max-width: 768px){
  .banking {
    margin: 20px auto;
    padding: 0 15px;
    text-align: center;
  }

  .titleSection {
    font-size: 45px;
    line-height: 40px;
  }

  .bankingLoansTitle, .bankingDepositTitle {
    font-size: 24px;
  }

  .unorderedBankingLoan, .unorderedBankingDeposit {
    list-style: none;
    text-align: left;
    padding-left: 0;
    font-size: 16px;
  }

  .bankingDepositDescription, .bankingLoanDescription {
    font-size: 14px;
  }

  .bankingLoanContact {
    text-align: left;
  }
}