.dashboard {
  max-width: 1280px;
  width: 100%;
  margin: 40px auto;
  text-align: center;
  padding-inline: 15px;
}

.dashboardTitle {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--secondary2-color);
}

.totalUserContainer {
  margin-bottom: 20px;
}

.totalUserNber {
  font-size: 20px;
  font-weight: normal;
}

.dashboardTableContainer {
  max-width: 900px;
  width: 100%;
  margin-inline: auto;
  display: table;
  border-collapse: collapse;
  font-weight: normal;
}

.dashboardItems {
  display: table-row;
  border: 1px solid var(--black-color);
}

.dashboardTable {
  display: table-header-group;
}

.dashboardItemHead,
.dashboardItem {
  padding: 5px 10px;
  width: 30px;
  font-size: 18px;
  text-align: center;
  flex: none;
  border: 1px solid var(--black-color);
}

.dashboardItem:nth-child(5) {
  color: red;
}


.deleteBtn {
  cursor: pointer;
}


@media screen and (max-width: 580px) {
  .dashboardTitle {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .totalUserTitle,
  .totalUserNber {
    font-size: 18px;
  }

  .dashboardItemHead:nth-child(4),
  .dashboardItem:nth-child(4) {
    display: none;
  }

  .dashboardItemHead,
  .dashboardItem {
    padding: 3px;
    font-size: 14px;
    flex: none;
  }
  
  .dashboardItemHead:nth-child(5),
  .dashboardItem:nth-child(5) {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 581px) and (max-width: 992px) {
  .dashboardItemHead,
  .dashboardItem {
    padding: 3px;
    font-size: 14px;
    flex: none;
  }
  
  .dashboardItemHead:nth-child(5),
  .dashboardItem:nth-child(5) {
    width: 20px;
    height: 20px;
  }
}
