.scrollBtn {
  display: none;
}

@media screen and (max-width: 768px) {
  .scrollBtn {
    display: flex;
    position: fixed;
    bottom: 40px;
    right: 30px;
    background-color: var(--secondary2-color);
    border-radius: 50%;
    font-size: 40px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 5px;
  }

}
