.tableForm {
  width: 100%;
  margin-inline: auto;
  border-collapse: collapse;
  border: 1px solid var(--black-color);
}

.slipItem {
  border: 1px solid var(--black-color);
  padding: 5px 10px;
  font-size: 18px;
  flex: 1 1;
  text-align: center;
}

.slipItems {
  display: flex;
  align-items: stretch;
}

.amountField {
  text-align: right;
  width: 30%;
  border: none;
  padding: 8px;
  font-size: 18px;
  border-bottom: 1px dashed var(--black-color);
}

.amountField:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .amountField {
    width: 100%;
  }
  
  .slipItem {
    font-size: 14px;
    
  }
}