.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--black-color);
  color: var(--secondary3-color);
}

/* ========================================================= */
.footerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--secondary3-color);
  padding-bottom: 25px;
  margin-inline: 80px;
  padding-top: 45px;
}

.footerItems {
  display: flex;
  flex-direction: column;
}

.footerText {
  font-size: 16px;
  font-weight: normal;
}

.footerItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.footerTitle {
  margin-bottom: 10px;
  font-size: 25px;
}

.smediaF:hover {
  color: var(--facebook-color);
}
.smediaT:hover {
  color: var(--twitter-color);
}
.smediaI:hover {
  color: var(--instagram-color);
}
.smediaL:hover {
  color: var(--linkedin-color);
}

.content-space-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* ======================================================== */


.footerCopyright {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 15px;
}

.footerContactTitle {
  margin-bottom: 10px;
  font-size: 20px;
}

.footerContactText {
  font-size: 14px;
  color: var(--white-color);
  margin-bottom: 8px;
  font-weight: normal;
}

/* ======================================================== */

.footerBottomText {
  font-size: 16px;
  font-weight: 500;
}

.footerSecurity {
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary3-color);
  cursor: pointer;
}

.footerSecurity:hover {
  text-decoration: underline;
  color: var(--violet-color);
}

/* ===================Responsives============================== */

@media screen and (max-width: 768px) {
  .footerWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 10px;
    text-align: center;
    gap: 15px;
  }

  .footerLogoLink {
    justify-content: center;
    margin-bottom: 10px;
  }

  .footerText {
    font-size: 14px;
  }

  .verticalLign {
    margin: 0;
  }

  .formBtn {
    margin-top: 10px;
  }

  .footerTitle {
    margin-bottom: 0px;
    font-size: 20px;
  }

  .Item {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .footerContactTitle {
    margin-bottom: 0px;
    font-size: 16px;
  }

  .footerContactText {
    font-size: 14px;
  }

  .footerBottomText,
  .footerSecurity {
    font-size: 14px;
  }

  .footerCopyright {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .footerWrapper {
    margin-inline: 20px;
  }
}
